/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/
body{
    background:rgb(0, 0, 0);
    color: whitesmoke;

  }
.img{
opacity: 0%;
display: inline-block;
width: 20%;
height: auto;
margin:1%;
}

#imgCollection{
  display: none;
}

#introText{
  visibility: visible;
  color: whitesmoke;
  opacity: 0;
  position: absolute;
  top: 40vh;
  left:40vh;
}

.row{
width: 100%;
display: flex;
flex-wrap: wrap;
align-items:center;
justify-content: space-around;
}

/* what sets of rules when this condition applies is media query */
@media only screen and (max-width: 1000px) {
  .img{
    opacity: 0%;
display: inline-block;
width: auto;
/* height: auto; */
margin:1%;
      height:50vh;
  }
  body{
    background:rgb(0, 0, 0);

  }
}

